
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
</head>
<body>
    <div> 
        <form action="/student/students" method="post">
            <input type="text" />
            <input type="text" />
            <input type="text" />
        </form>
    </div>
</body>
</html>
