
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentData</title>
</head>
<body>
    <div>
        <form action="/Student/StudentData" method="post">
            <label>ID</label>
            <input type="text" name="ID"/> <br/>
            <label>Name</label>
            <input type="text"  name="Name"/><br/>
            <label>Grade</label>
            <input type="text" name="Grade"/><br/>
           <button>Submit</button>
        </form>
    </div>
</body>
</html>
